header {
  width: 100%;
  position: relative;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.header-container .header-container-logo {
  margin-bottom: 39px;
}

.header-container .header-container-search {
  margin: 0 auto;
  min-width: 290px;
  max-width: 297px;
  min-height: 55px;
  max-height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.header-container .header-container-search {
  font-family: var(--font-mulish);
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--soft-black);
}

.header-container .header-container-search .header-container-city {
  width: 55%;
  padding: 19px 16px;
  border-right: 1px solid #f2f2f2;
  cursor: pointer;
}

.header-container .header-container-search .header-container-guest {
  width: 40%;
  padding: 19px 16px;
  border-right: 1px solid #f2f2f2;
  cursor: pointer;
}

.header-container .header-container-search .header-container-search-button {
  width: auto;
  padding: 19px 16px;
}

.header-container .header-container-search .header-container-search-button img {
  width: 17px;
}

.header-container .nav {
  position: absolute;
  z-index: 10;
  top: 0;
  background: #ffffff;
  width: 100%;
}

.nav .nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.nav .nav-header span {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--soft-black);
  font-family: var(--font-mulish);
}

.nav .nav-header span img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.nav .nav-header-filter {
  min-width: 100%;
  max-width: 351px;
  height: 113px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-mulish);
  color: var(--soft-black);
}

.nav .nav-header-filter .nav-header-filter-item {
  padding: 11px 26px;
  cursor: pointer;
}

.nav .nav-header-filter .nav-header-filter-item:nth-child(1) {
  border-bottom: 1px solid #f2f2f2;
}

.nav .nav-header-filter .nav-header-filter-item span b {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 4px;
  font-weight: 800;
}

.nav .nav-header-filter .nav-header-filter-item span {
  font-size: 1.4rem;
  font-weight: 400;
}

.nav .nav-header-list {
  list-style: none;
}

.nav .nav-header-list li {
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--soft-black-black);
  font-weight: 400;
}

.nav .nav-header-list li span img {
  height: 20px;
  margin-right: 10px;
}

.nav .nav-btn-search {
  font-family: var(--font-mulish);
  font-weight: 700;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: var(--soft-red);
  margin: 0 auto;
  border: none;
  border-radius: 16px;
  min-width: 126px;
  min-height: 48px;
  max-width: 126px;
  max-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.nav .nav-btn-search span img {
  width: 17px;
  margin-right: 10px;
}

.nav .guests-container .guests-container-button {
  margin-bottom: 52px;
}

.nav .guests-container .guests-container-button span {
  font-family: var(--font-mulish);
  display: block;
  font-size: 1.4rem;
  color: var(--soft-black-black);
}

.nav .guests-container .guests-container-button .description {
  font-size: 1.3rem;
  color: var(--grey);
  margin-bottom: 19px;
}

.nav .guests-container .guests-container-button .guests-buttons {
  display: flex;
  align-items: center;
}

.nav .guests-container .guests-container-button .guests-buttons button {
  width: 23px;
  height: 23px;
  background: transparent;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.8rem;
  color: #828282;
}

.nav .guests-container .guests-container-button .guests-buttons span {
  margin: 0 16px;
}

/*Menu*/
.active {
  display: none;
}
